<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyASLr7j2qK8i3EFwwIGAAMWxkoZq4H_M</string>
	<key>GCM_SENDER_ID</key>
	<string>890195033510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anchor</string>
	<key>PROJECT_ID</key>
	<string>anchor-f3a69</string>
	<key>STORAGE_BUCKET</key>
	<string>anchor-f3a69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890195033510:ios:1a9de1350d2c35467f2367</string>
</dict>
</plist>